# Source files
src/
tests/

# Config files
.eslintrc.json
.gitignore
tsconfig.json
vitest.config.ts

# Development files
.git/
.github/
.vscode/
docs/
coverage/

# Development dependencies
node_modules/ 